<template name='layoutOne'>
		<nav class="nav-extended green">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Project management</a>
				<!--<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="{{pathFor route='home'}}">Home</a></li>
					{{#if currentUser}}
						<li><a href="{{pathFor route='profile'}}">Profile</a></li>
						<li><a href="{{pathFor route='tasks'}}">Tasks</a></li>
						<li><a href="{{pathFor route='myAccount'}}">Account</a></li>
						<li><a href="{{pathFor route='home'}}" id='sign_out'>SignOut</a></li>
					{{else}}
						<li><a href="{{pathFor route='connection'}}">SignIn</a></li>
					{{/if}}
				</ul>
			</div>
		</nav>
	<article>	
		{{> yield}}
	</article>

</template>